@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,500,900,300);

/*@import "compass/css3";

//colors
$red: #ff6567;
$red-shadow: #d95658;
*/

body {
	font-family: 'Roboto', Arial, sans-serif;
	overflow-x: hidden;
	background-color: #f5f5f5;
}

p {
	font-size: 14px;
}

a {
	color: #333;
}

a:hover {
	color: #333;
}

h2 {
	font-weight: 100;
}

h1 {
	font-size: 30px;
	margin-bottom: 10px;
	color: #808080;
}

section {
	padding: 3rem 0 0 0;
}

.t-color-1 {
	color: #1ac4e2;
}

.b-color-1 {
	background-color: #1ac4e2;
}

.t-color-2 {
	color: #f8a01b;
}

.b-color-2 {
	background-color: #f8a01b;
}

.t-color-3 {
	color: #8ec63f;
}

.b-color-3 {
	background-color: #8ec63f;
}

.t-color-4 {
	color: #A672AA;
}

.b-color-4 {
	background-color: #A672AA;
}

.t-color-5 {
	color: #f14723;
}

.b-color-5 {
	background-color: #f14723;
}

.t-color-6 {
	color: #556273;
}

.b-color-6 {
	background-color: #556273;
}

.heading-border {
	width: 50px;
	height: 1px;
	opacity: 0.5;
	margin-bottom: 30px;
}


/* carousel */

.carousel .carousel-indicators li .fa {
	background-color: #f6f6f6;
	padding: 5px 10px;
	border-radius: 3px;
	color: #999;
}

.carousel-indicators {
	margin-left: 0;
	right: 0;
	left: auto;
	top: -70px;
	width: auto;
	bottom: auto;
}

.carousel-indicators li.active {
	border: 1px solid transparent;
}

.carousel-indicators li.active .fa {
	background-color: #8ec63f;
	color: #fff;
}

.carousel-indicators li {
	border: 1px solid transparent;
	display: inline;
	margin: 0;
	text-indent: 0;
}


/* header */

.navbar {
	margin-bottom: 0;
}

.navbar-collapse {
	padding: 0;
}


/* header top */

.header-top {
	background-color: #fcfcfc;
	border-bottom: 1px solid rgba(238, 238, 238, 0.5);
}

.header-top .list-inline {
	margin-top: 6px;
	margin-bottom: 6px;
}

.header-top .list-inline li a {
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	color: #888;
}

.header-top .list-inline li a img {
	margin-right: 3px;
}

.header-top .list-inline li a .fa {
	color: #8ec63e;
	margin-right: 3px;
}

a.register {
	background-color: #8ec63f;
	padding: 2px 6px;
	color: #fff !important;
	border-radius: 4px;
}

.header-top .dropdown-menu li a {
	font-size: 13px;
	padding: 6px 20px;
}

.header-top .dropdown-menu li a:hover {
	background-color: transparent;
	color: #1ac4e2;
}

.header-top .dropdown-menu {
	margin-top: 7px;
	border: none;
	padding: 0;
	padding: 10px 0;
	border-radius: 2px
}


/* home */

section.home {
	padding: 0;
}

.intro-content {
	padding: 5rem 0;
	padding-bottom: 10rem;
}

.home img {
	max-height: 480px;
	margin: auto;
}

.home h1 {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 100;
	font-size: 60px;
	color: #fff;
}

.home h2 {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0;
	font-family: sans-serif;
	text-transform: uppercase;
}

.home h2 span {
	color: #fff;
	border-radius: 5px;
	background-color: #ff6567;
	padding: 0 10px;
	height: 100px;
}

.home p {
	color: #fff;
	font-size: 20px;
	font-weight: 100;
}

.home .btn.btn-default {
	background-color: #697687;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	padding: 8px 15px;
	border: transparent;
	border-bottom: 2px solid #556273;
	border-radius: 5px;
}

.home .carousel-control:hover {
	background-color: #31253c;
}

.home .carousel-control {
	background-color: rgba(225, 225, 225, 0.3);
	height: 50px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	width: 45px;
	top: 38%;
	opacity: 1;
}

.home .carousel-control .fa {
	font-size: 30px;
	text-shadow: none;
	color: #f0f0f0;
}

.home .carousel-control.right {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 8px;
}

.home .carousel-control.left {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-right: 8px;
}

.home .carousel-control.right,
.home .carousel-control.left {
	background-image: none;
}

.home .carousel-indicators {
	bottom: 0;
	left: 0;
	top: auto;
	margin-left: 1px;
	right: 0;
	width: auto;
}

.home .carousel-indicators li.active {
	background-color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 1);
	opacity: 1;
}

.home .carousel-indicators li {
	background-color: rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0);
	opacity: 1;
}

.home .carousel-indicators li {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	text-indent: -999;
	height: 10px;
	width: 10px;
}


/* service */

.service {
	background-color: #fcfcfc;
	font-family: 'Yantramanav', sans-serif;
	border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.service .fa.s-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #dedede;
	background-color: transparent;
	color: #999;
	padding-top: 20px;
	font-size: 18px;
}

.service h3 {
	color: #697687;
	font-weight: 300;
	font-size: 22px;
}

.service p {
	color: #999;
}

.service .service-detail:hover h3,
.service .service-detail:hover .fa.s-icon {
	color: #1ac4e2;
	border-color: #1ac4e2;
}

.diamond .fa {
	color: #fff;
	position: relative;
	padding-top: 12px;
	z-index: 1000;
}

.diamond {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1ac4e2;
	border-image: none;
	border-style: solid;
	border-width: 0 15px 20px;
	box-sizing: content-box;
	color: rgba(0, 0, 0, 1);
	font: 100% Arial, Helvetica, sans-serif;
	height: 0;
	margin: 20px 0 30px;
	position: relative;
	text-overflow: clip;
	width: 30px;
}

.diamond::after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #1ac4e2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-image: none;
	border-style: solid;
	border-width: 35px 30px 0;
	box-sizing: content-box;
	color: rgba(0, 0, 0, 1);
	content: "";
	font: 100% Arial, Helvetica, sans-serif;
	height: 0;
	left: -15px;
	position: absolute;
	text-overflow: clip;
	text-shadow: none;
	top: 20px;
	width: 0;
}


/* section featured product */

.sect .container {
	background-color: #fff;
	padding: 24px;
}

.sect h1 small {
	margin-left: 15px;
}

.sect small a.btn .fa {
	margin-left: 5px;
	font-size: 7px;
}

.sect small a.btn {
	background-color: transparent;
	color: #aaa;
	display: block;
	font-size: 11px;
	padding: 2px 8px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin-left: 30px;
}

.sect .thumbnail {
	padding: 0;
	border: none;
	border-radius: 5px;
	overflow: hidden;
}

.sect .thumbnail img {
	margin: auto;
}

.sect .thumbnail .caption {
	padding: 0;
}

.sect .thumbnail h3 {
	color: #697687;
	font-size: 17px;
	font-weight: 300;
	margin-top: 8px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.8);
	padding-bottom: 10px;
}

.sect .thumbnail .btn {
	margin-top: 10px;
	border: 0;
	border-bottom: 2px solid #8AAA63;
	color: #fff;
	background-color: #8ec63f;
	font-weight: 600;
	font-size: 13px;
}

.sect .thumbnail span {
	color: #aaa;
	line-height: 4;
	font-size: 12px;
	margin-bottom: 15px;
	overflow: hidden;
	min-height: 187.38px;
	max-height: 187.38px;
}

.sect .thumbnail strong {
	color: #333;
	font-weight: 600;
	font-size: 14px;
}

.sect .thumbnail:hover img {
	opacity: 0.6!important;
}

.sect .thumbnail:hover h3 {
	color: #8ad2ce;
}

.sect .thumbnail .btn:hover {
	background-color: #8ad2ce;
	border-color: #63b5b2;
}

.sect .thumbnail:hover .service-link .fa {
	opacity: 1;
}

.service-link {
	position: relative;
	display: block;
}

.service-link .list-inline {
	position: absolute;
	display: inline-block;
	margin-left: -30px;
	top: 70px;
	left: auto;
}

.service-link .fa {
	width: 30px;
	background-color: #1ac4e2;
	height: 30px;
	border-radius: 50%;
	color: #fff;
	opacity: 0;
	text-align: center;
	padding: 8px;
}


/* e-market adds */

.emarket-adds {
	background-color: #fcfcfc;
	border-bottom: 1px solid rgba(238, 238, 238, 0.3);
	border-top: 1px solid rgba(238, 238, 238, 0.3);
}

.emarket-adds img {
	border-radius: 5px;
}

.single-add {
	position: relative;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 5px;
	height: 150px;
}

.single-add {
	background: rgba(212, 228, 239, 1);
	/* Old Browsers */
	background: -moz-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(203, 222, 235, 1) 12%, rgba(198, 218, 233, 1) 18%, rgba(182, 207, 226, 1) 38%, rgba(171, 200, 221, 1) 52%, rgba(161, 193, 216, 1) 65%, rgba(155, 189, 213, 1) 73%, rgba(134, 174, 204, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(12%, rgba(203, 222, 235, 1)), color-stop(18%, rgba(198, 218, 233, 1)), color-stop(38%, rgba(182, 207, 226, 1)), color-stop(52%, rgba(171, 200, 221, 1)), color-stop(65%, rgba(161, 193, 216, 1)), color-stop(73%, rgba(155, 189, 213, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
	/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(203, 222, 235, 1) 12%, rgba(198, 218, 233, 1) 18%, rgba(182, 207, 226, 1) 38%, rgba(171, 200, 221, 1) 52%, rgba(161, 193, 216, 1) 65%, rgba(155, 189, 213, 1) 73%, rgba(134, 174, 204, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(203, 222, 235, 1) 12%, rgba(198, 218, 233, 1) 18%, rgba(182, 207, 226, 1) 38%, rgba(171, 200, 221, 1) 52%, rgba(161, 193, 216, 1) 65%, rgba(155, 189, 213, 1) 73%, rgba(134, 174, 204, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(203, 222, 235, 1) 12%, rgba(198, 218, 233, 1) 18%, rgba(182, 207, 226, 1) 38%, rgba(171, 200, 221, 1) 52%, rgba(161, 193, 216, 1) 65%, rgba(155, 189, 213, 1) 73%, rgba(134, 174, 204, 1) 100%);
	/* IE 10+ */
	background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%, rgba(203, 222, 235, 1) 12%, rgba(198, 218, 233, 1) 18%, rgba(182, 207, 226, 1) 38%, rgba(171, 200, 221, 1) 52%, rgba(161, 193, 216, 1) 65%, rgba(155, 189, 213, 1) 73%, rgba(134, 174, 204, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);
	/* IE6-9 */
}

.single-add h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	max-width: 140px;
}

.single-add h4 span {
	font-size: 30px;
	font-weight: 100;
}

.single-add .btn {
	border: 0;
	background-color: #8ad2ce;
	color: #fff;
	font-weight: 600;
	border-bottom: 2px solid #63B5B2;
	;
}

.single-add .img-add {
	padding: 15px 20px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.single-add .img-add img {
	max-width: 140px;
	margin-bottom: 12px;
}

.category {
	font-size: 13px;
	text-transform: capitalize;
	color: #999;
}

.category .fa {
	color: #fcc686;
	font-size: 11px;
}

.best-selling .media h3 {
	color: #697687;
	font-size: 17px;
	font-weight: 300;
	margin-top: 8px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.8);
	padding-bottom: 10px;
}

.best-selling .media .btn {
	margin-top: 10px;
	border: 0;
	border-bottom: 2px solid #8AAA63;
	color: #fff;
	background-color: #8ec63f;
	font-weight: 600;
	font-size: 13px;
}

.best-selling .media .btn:hover {
	background-color: #8ad2ce;
	border-color: #63b5b2;
}

.best-selling .media span {
	color: #aaa;
	line-height: 4;
	font-size: 12px;
}

.best-selling .media strong {
	color: #333;
	font-weight: 600;
	font-size: 22px;
}


/* special price */

section.special-price {
	padding: 0;
	background: url(../images/special-rate.jpg) scroll no-repeat 0 0 / cover;
}

.special-price .price-intro {
	padding: 4rem 0;
	background: url(../images/strange-bullseyes.png) scroll;
}

.special-price h1 {
	font-weight: 100;
	letter-spacing: 1px;
	color: #fff;
	font-size: 35px;
	margin-bottom: 0;
	margin-top: 0;
}

.special-price p {
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 0;
}

.special-price .btn {
	background: #1ac4e2 none repeat scroll 0 0;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-top: 12px;
	padding: 8px 30px;
	border-color: #1ac4e2;
}

blockquote {
	border-left: 3px solid #1ac4e2;
	font-size: 17.5px;
	margin: 0;
	padding: 0 20px;
}


/* product info */

.product-info {
	background-color: #fcfcfc;
	border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.product-info .media {
	margin-bottom: 25px;
}

.product-info .media-left img {
	padding: 5px;
	border: 1px solid rgba(238, 238, 238, 0.8);
	background-color: #fff;
	border-radius: 5px;
}

.product-info h3 {
	font-size: 17px;
	font-weight: 300;
}

.product-info .category {
	font-size: 11px;
	color: #fcc88e;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.8);
}

.product-info strong {
	color: #1ac4e2;
	font-size: 22px;
	font-weight: 600;
}

.product-info .media-left {
	position: relative;
}

.product-info .media-left .fa {
	background-color: #1ac4e2;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	height: 30px;
	left: 45px;
	position: absolute;
	top: 33%;
	width: 30px;
	padding-top: 9px;
	opacity: 0;
}

.product-info .media:hover .media-left img {
	opacity: 0.6;
}

.product-info .media:hover .media-body h3 {
	color: #1ac4e2;
}

.product-info .media:hover .media-left .fa {
	opacity: 1;
}


/* recent post */

.recent-post .thumbnail .fa-search {
	background-color: #1ac4e2;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	height: 30px;
	left: auto;
	position: absolute;
	top: 20%;
	width: 30px;
	padding-top: 9px;
	margin-left: -15px;
	opacity: 0;
}

.recent-post .thumbnail .caption {
	padding: 0;
}

.recent-post .thumbnail:hover h3 {
	color: #1ac4e2;
}

.recent-post .thumbnail:hover .fa {
	opacity: 1;
}

.recent-post h3 {
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 15px;
	line-height: 1.3;
}

.recent-post p {
	margin-top: 10px;
	color: #aaa
}

.recent-post span.comment {
	color: #8ec63f;
	font-size: 12px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.recent-post span a {
	padding: 4px 10px;
	color: #aaa;
	text-decoration: none;
	border: 1px solid rgba(238, 238, 238, 0.5);
	border-radius: 2px;
	margin-right: 8px;
	font-size: 13px
}

.recent-post .thumbnail p {
	font-weight: 300;
}

.recent-post .thumbnail img {
	width: 100%;
	padding-bottom: 15px;
}

.recent-post .thumbnail:hover img {
	opacity: 0.6;
}

.recent-post .carousel-indicators li.active .fa {
	background-color: #f6f6f6;
	color: #999;
}

.recent-post .thumbnail {
	position: relative;
	border-color: rgba(238, 238, 238, 0.8);
	border-radius: 5px;
	padding: 15px;
}


/* sponsor */

.sponsor {
	background-color: #fcfcfc;
	border-top: 1px solid rgba(238, 238, 238, 0.3);
	margin-top: 3rem;
	padding-bottom: 3rem;
}

.sponsor img {
	border-radius: 5px
}

.sponsor .list-inline {
	margin-bottom: 0;
}

.sponsor .carousel {
	position: relative;
}

.sponsor .control-left .fa {
	background-color: #f4f4f4;
	padding: 15px 15px;
	border-radius: 4px;
	color: #999;
	position: absolute;
	top: 40%;
	left: 0;
}

.sponsor .control-left .fa:hover,
.sponsor .control-right .fa:hover {
	background-color: #31253c;
	color: #fff;
}

.sponsor .control-right .fa {
	background-color: #f4f4f4;
	padding: 15px 15px;
	border-radius: 4px;
	color: #999;
	position: absolute;
	top: 40%;
	right: 0;
}


/* social icons */

section.social-icons {
	padding: 0;
	background-color: #374353;
}

.social-icons .list-inline {
	margin-bottom: 0;
}

.social-icons a .fa {
	color: #4e5e70;
	font-size: 20px;
	height: auto;
	padding: 15px 0;
	width: 60px;
}

.social-icons a .fa:hover {
	color: #1ac4e2;
}


/* footer top */

.footer-top {
	padding: 1rem 0;
	padding-bottom: 20px;
}

.footer-top h2 {
	font-weight: 600;
	color: #bbb;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-top a {
	font-size: 13px;
	font-weight: 300;
	color: #333;
	text-decoration: none;
}

.footer-top p {
	color: #333;
	font-size: 13px;
}

.footer-top a:hover {
	color: #5e2096;
	transition: 0.5s;
}

.footer-top {
	background-color: #fafafa;
	border-top: 1px solid #ddd;
}

.footer-top small {
	color: #333;
	font-size: 11px;
	font-weight: 300;
}

.footer-top strong {
	color: #333;
	letter-spacing: 0.5px;
	margin-top: 15px;
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.footer-top .form-control {
	color: #000;
	border-color: #ddd;
	height: 44px;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
}

.footer-top .form-control:focus {
	color: #000;
	border-color: transparent;
	box-shadow: none;
	outline: none;
}

.footer-top .form-group {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
}

.footer-top .nav-search {
	position: absolute;
	top: 11px;
	right: 4%;
}

.footer-top .nav-search a {
	color: #999;
	font-size: 13px;
}

.footer-top .nav-search a:hover {
	color: #bbb;
}

.header-bottom .form-control::-moz-placeholder,
.footer-top .form-control::-moz-placeholder {
	color: #aaa;
}

.footer-top .media {
	margin-bottom: 15px;
	cursor: pointer;
}

.footer-top .media-left {
	position: relative;
	padding-top: 5px;
	padding-right: 15px;
}

.footer-top .media-left .fa {
	background-color: #1ac4e2;
	border-radius: 50px;
	color: #fff;
	font-size: 9px;
	height: 20px;
	left: 25px;
	margin-top: 20px;
	padding-top: 5px;
	position: absolute;
	text-align: center;
	width: 20px;
	opacity: 0;
}

.footer-top .media .media-body p {
	margin-bottom: 3px;
	font-weight: 300;
}

.footer-top .media-left img {
	border: 1px solid rgba(105, 118, 135, 0.5);
	border-radius: 4px;
	padding: 4px;
	width: 70px;
}

.footer-top .category {
	border-bottom: 1px solid rgba(105, 118, 135, 0.3);
	color: #fcc88e;
	font-size: 8px;
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.footer-top .media strong {
	color: #8ec63f;
	font-size: 14px;
	font-weight: 600;
	margin-top: 5px;
}

.footer-top .media .f-date {
	color: #999;
	font-weight: 400;
	font-size: 12px;
}

.footer-top .media .f-border {
	border-bottom: 1px solid rgba(105, 118, 135, 0.3);
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.footer-top .media:hover .media-body p {
	color: #1ac4e2;
}

.footer-top .media:hover p.f-date {
	color: #999;
}

.footer-top .media:hover .media-left img {
	opacity: 0.5;
}

.footer-top .media:hover .media-left .fa {
	opacity: 1;
}


/* footer bottom */

.footer-bottom {
	border-top: 1px solid #eee;
	padding: 2rem;
	background-color: #fafafa;
}

.footer-bottom p {
	color: #999;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 7px;
}

.footer-bottom p a {
	color: #333;
	text-decoration: none;
}

.footer-bottom .list-inline {
	margin-bottom: 0;
}

.footer-bottom .list-inline img {
	width: 30px;
	opacity: 0.5;
}

.footer-bottom .list-inline img:hover {
	opacity: 0.7;
}


/* desktop */

.desktop-bar h3 .fa {
	color: #f0f0f0;
	font-size: 12px;
	border: 1px solid #f0f0f0;
	padding: 5px 6px;
	border-radius: 50%;
}

.desktop-bar h3 {
	font-size: 18px;
	font-weight: 400;
}

.desktop-bar {
	color: #fff;
	padding: 0;
}

.desktop-bar .breadcrumb {
	background: transparent;
	border: transparent;
	line-height: 3;
	padding: 0;
	margin: 0;
}

.desktop-bar .breadcrumb>li a {
	color: #999;
	font-size: 13px;
	text-decoration: none;
	font-weight: 400;
}

.desktop-bar .breadcrumb>li a:hover {
	text-decoration: underline;
}

.desktop-bar .breadcrumb>li.active a {
	color: #999;
	text-decoration: none;
}

.desktop-bar .breadcrumb>li+li::before {
	color: #999;
	content: "\f105";
	font-family: 'FontAwesome';
	padding: 0 5px;
}

#desktop {
	padding-bottom: 5px;
	padding-top: 10px;
	background-color: #fff;
	color: #333;
}

#desktop .navbar-nav>li>a {
	color: #ccc;
	line-height: 2.4;
	padding-bottom: 0;
	padding-top: 0;
}

#desktop .navbar-nav>li.active>a {
	background-color: transparent;
	color: #fff;
}

#desktop .navbar-form {
	margin-bottom: 0;
	margin-top: 0;
}

.selection {
	position: relative;
	display: inline-block;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400;
	margin-right: 10px
}

.desk-nav {
	background-color: #fff;
	border: transparent;
	border-radius: 4px;
	margin-bottom: 30px;
	box-shadow: none;
	border-top: 1px solid #f5f5f5;
	margin: 0;
}

#desktop .form-control {
	width: 130px;
	color: #ccc;
	margin: 0 5px;
	background: #697687;
	box-shadow: none;
	border-radius: 50px;
	border: transparent;
}


/* desktop sidebar */

.sidebar .progress {
	height: 8px;
}

.sidebar .well .btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ddd;
	border-color: -moz-use-text-color -moz-use-text-color #8aaa63;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 2px;
	color: #333;
	font-size: 12px;
	font-weight: 600;
	margin-top: 10px;
}

.sidebar .well p {
	color: #556273;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.sidebar .well p span {
	color: #8ec63f;
}

.sidebar .well small {
	color: #556273;
	font-size: 13px;
	margin-bottom: 10px;
	word-spacing: 2px;
	display: block;
}

.sidebar .wedget .media-list {
	margin-bottom: 0;
}

.sidebar .wedget .media {
	margin-bottom: 0;
}

.sidebar .well strong {
	color: #556273;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 10px;
	display: block;
	margin-top: 3px;
}

.sidebar .single-add .img-add {
	padding: 15px 20px;
	top: 20px;
}

.sidebar .single-add {
	padding: 15px;
	margin-bottom: 20px;
}

.sidebar .well .heading-border {
	margin-bottom: 10px;
}

.sidebar .check-box {
	list-style: none;
	padding: 0;
}

.sidebar .check-box li .btn.active {
	background-color: #7ac7c2;
	color: #fff;
}

.sidebar .check-box li .btn-group {
	width: 100%;
}

.sidebar .check-box li {
	margin-bottom: 8px;
}

.sidebar .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.sidebar .check-box li .btn {
	padding: 3px 5px;
	background-color: #ebebeb;
	color: transparent;
	border: transparent;
	font-size: 10px;
	margin-right: 8px;
	box-shadow: none;
	border-radius: 2px;
}

.sidebar .footer-top .category {
	border-bottom: 1px solid rgba(105, 118, 135, 0.1);
	margin-bottom: 0;
}

.sidebar .footer-top .media-left img {
	background-color: #fff;
	border: 1px solid rgba(105, 118, 135, 0.1);
	border-radius: 3px;
	height: 65px;
	padding: 5px;
	width: 70px;
}

.pagination li a {
	color: #999;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #8ad2ce;
	border-color: #8ad2ce;
	color: #fff;
	cursor: default;
	z-index: 3;
}

.sidebar .well.wedget {
	border-color: transparent;
	box-shadow: none;
	border-radius: 3px;
	margin: 0;
	padding: 0 0 10px 0;
}

.sidebar .well.wedget a {
	color: #333;
}


/* slide desk */

#desk-slide {
	background: -moz-linear-gradient(45deg, rgba(19, 70, 128, 1) 0%, rgba(32, 84, 147, 1) 9%, rgba(57, 111, 183, 1) 26%, rgba(107, 164, 255, 1) 59%);
	/* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(19, 70, 128, 1)), color-stop(9%, rgba(32, 84, 147, 1)), color-stop(26%, rgba(57, 111, 183, 1)), color-stop(59%, rgba(107, 164, 255, 1)));
	/* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(19, 70, 128, 1) 0%, rgba(32, 84, 147, 1) 9%, rgba(57, 111, 183, 1) 26%, rgba(107, 164, 255, 1) 59%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(19, 70, 128, 1) 0%, rgba(32, 84, 147, 1) 9%, rgba(57, 111, 183, 1) 26%, rgba(107, 164, 255, 1) 59%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(19, 70, 128, 1) 0%, rgba(32, 84, 147, 1) 9%, rgba(57, 111, 183, 1) 26%, rgba(107, 164, 255, 1) 59%);
	/* ie10+ */
	background: linear-gradient(45deg, rgba(19, 70, 128, 1) 0%, rgba(32, 84, 147, 1) 9%, rgba(57, 111, 183, 1) 26%, rgba(107, 164, 255, 1) 59%);
	/* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6BA4FF', endColorstr='#134680', GradientType=1);
	/* ie6-9 */
}

#desk-slide {
	padding: 20px 40px;
	border-radius: 4px;
}

#desk-slide .btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #8ad2ce;
	border-color: -moz-use-text-color -moz-use-text-color #63b5b2;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 2px;
	color: #fff;
	font-weight: 600;
}

#desk-slide h2 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 20px;
}

#desk-slide .carousel-control.left {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#desk-slide .carousel-control.right {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#desk-slide .carousel-control.left,
#desk-slide .carousel-control.right {
	background-image: none;
}

#desk-slide .carousel-control:hover.left,
#desk-slide .carousel-control:hover.right {
	background-color: #556273;
	color: #fff;
}

#desk-slide .carousel-control {
	background-color: #fff;
	height: 30px;
	opacity: 1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-shadow: none;
	top: 45%;
	width: 25px;
	color: #999;
}

.media.desk-media {
	margin-bottom: 30px;
}

.media.desk-media .list-inline li:first-child {
	margin-right: 40px;
}

.media.desk-media .btn {
	margin-top: 0;
}

.media.desk-media p {
	border-bottom: 1px solid rgba(238, 238, 238, 0.5);
	padding-bottom: 15px;
	font-weight: 300;
}

.media.desk-media strong {
	line-height: 2.1;
}

.media.desk-media h3 {
	border-bottom: none;
	margin-bottom: 0px;
	color: #556273;
}

.media.desk-media .btn:hover {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #8ad2ce;
	border-color: -moz-use-text-color -moz-use-text-color #63b5b2;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 2px;
	color: #fff;
	font-weight: 600;
}

.media.desk-media .media-left {
	position: relative;
	margin: 0 auto;
}

.thumb-overlay {
	margin-right: 20px;
}

.thumb-overlay .fa {
	background-color: #1ac4e2;
	position: absolute;
	top: 42%;
	color: #fff;
	padding: 8px 8px;
	border-radius: 50%;
	opacity: 0;
}

.desk-media .list-inline li {
	margin-right: 10px;
}

.desk-media span .fa {
	margin-right: 4px;
}

.desk-media:hover .wish {
	color: #f14723;
}

.media.desk-media:hover h3 {
	color: #63b5b2;
}

.media.desk-media:hover .thumb-overlay .fa {
	opacity: 1;
}

.jual {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #696763;
	padding: 7px 23px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	transition: 0.2s ease-in-out;
}

.jual:hover {
	background: #4b3361;
	border: 1px solid #31253c;
	color: #FFFFFF;
	transition: 0.5s;
}


/* Custom 



.brands-name .nav-stacked li a:hover {
background-color: #f5f5f5;
display: block;
}

.nopad {
padding: 0;
}

.right --salah {
float: right;
text-align: right;
}

.inputan {
background: #F0F0E9;
border: 0 none;
margin-bottom: 10px;
padding: 10px;
width: 100%;
font-weight: 300
}

#panel {
position: fixed;
bottom: 0%;
width: 100%;
height: 20px;
border: 1px solid red;
display: none;
}

.tengah {
margin: 0 auto;
}*/

.pad {
	padding-top: 20px;
}


/* Flipkart Navbar */

.atas {
	background-color: #4b3361;
}

#flipkart-navbar {
	background-color: #4b3361;
	color: #FFFFFF;
}

.row2 {
	padding: 16px 0;
}

.flipkart-navbar-input {
	padding: 11px 16px;
	border-radius: 2px 0 0 2px;
	border: 0 none;
	outline: 0 none;
	font-size: 15px;
	color: black;
	width: 100%;
}

.flipkart-navbar-button {
	background-color: #8ec63f;
	border: 1px solid #8ec63f;
	border-radius: 0 2px 2px 0;
	color: #565656;
	padding: 10px 0;
	height: 43px;
	cursor: pointer;
}

.flipkart-navbar-button:focus {
	outline: none;
}

.cart-button {
	background-color: #563d6d;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
	padding: 10px 0!important;
	text-align: center;
	height: 43px;
	border-radius: 2px;
	font-weight: 500;
	width: 100%;
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	color: inherit;
	border: none;
	outline: none;
}

.cart-button:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.cart-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

.cart_description {
	width: 200px;
}

.cart_quantity {
	width: 90px;
}

.item-number {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .1);
	height: 20px;
	padding: 3px 6px;
	font-weight: 500;
	display: inline-block;
	color: #fff;
	line-height: 12px;
	margin-left: 10px;
}

.upper-links {
	display: inline-block;
	padding: 0 11px;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	color: inherit;
	border: none;
	outline: none;
	font-size: 12px;
}

.row1 ul li:last-child {
	padding-right: 0;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
}

.dropdown:hover .links {
	color: #000;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	display: none;
	background-color: #fff;
	color: #333;
	border: 0;
	border-radius: 0;
	box-shadow: 0 4px 8px -3px #555454;
	margin: 0;
}

.links {
	color: #fff;
	text-decoration: none;
}

.links:hover {
	color: #fff;
	text-decoration: none;
}

.profile-links {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	display: block;
	padding: 0 11px;
	line-height: 23px;
}

.profile-li {
	padding-top: 2px;
}

.largenav {
	display: none;
}

.smallnav {
	display: block;
}

.smallsearch {
	margin: 15px 15px 0 15px;
}

.menu {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.largenav {
		display: block;
		margin: 0;
		line-height: 25px;
	}
	.smallnav {
		display: none;
	}
	.smallsearch {
		margin: 0px;
	}
	.slider {
		min-height: 270px;
		max-height: 270px;
	}
}

@media screen and (min-width: 1366px) {
	.product-list .col-sm-3 {
		width: 20%;
	}
	.review {
		padding-left: 0;
	}
	.keranjang-cart {
		display: flex;
		align-items: center;
	}
}


/*Sidenav*/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	box-shadow: 0 4px 8px -3px #555454;
	padding-top: 0px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #fff;
}

@media screen and (max-height: 450px) {
	.sidenav a {
		font-size: 18px;
	}
}

.sidenav-heading {
	font-size: 36px;
	color: #fff;
}


/* Mega Menu */

.dropdown-large {
	font-size: 13px;
	color: #fff !important;
	/*position: static !important;*/
}

.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0;
}

.dropdown-menu-large>li>ul {
	padding: 0;
	margin: 0;
}

.dropdown-menu-large>li>ul>li {
	list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
	font-size: 13px;
}

.dropdown-menu-large>li ul>li>a:hover,
.dropdown-menu-large>li ul>li>a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.dropdown-menu-large .disabled>a,
.dropdown-menu-large .disabled>a:hover,
.dropdown-menu-large .disabled>a:focus {
	color: #999999;
}

.dropdown-menu-large .disabled>a:hover,
.dropdown-menu-large .disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
	color: #428bca;
	font-size: 15px;
}


/* Custom CSS */

@media screen and (min-width: 720px) {
	.detail .tab-content {
		padding-top: 40px!important;
		padding-left: 100px!important;
		padding-right: 48px!important;
	}
	.show-byk {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		width: 100%;
	}
	.show-ppl {
		min-height: 231.5px;
		max-height: 231.5px;
	}
	.paddingless .list-inline {
		top: 70px;
	}
	.navbar {
		min-height: 40px !important
	}
	.content {
		padding-top: 140px;
	}
	.apple {
		margin-left: -100px;
	}
	#desktop .navbar-right {
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	.navbar-static {
		display: none;
	}
	.desk-nav {
		display: none;
	}
	.navbar-fixed-top {
		position: static;
	}
	.detail .tab-content {
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.i-produk-kiri {
		padding-top: 15px;
		margin-right: 90px!important;
	}
	.info-seller {
		padding-top: 20px;
	}
	.name-edit {
		top: 0!important;
	}
	.show-byk {
		max-width: 100%;
		height: auto;
	}
	#sponsor .col-sm-4 {
		margin-bottom: 20px;
	}
	.promote-header {
		width: 100%!important;
	}
}

.sect .btn.see-more {
	background-color: #8ec63f;
	color: #fff;
	padding: 6px 15px;
	font-size: 15px;
	border: none;
}

.sect .btn.see-more .fa {
	font-size: 100%;
}

.sect .btn.see-more:hover {
	background-color: #8ad2ce;
	border-color: #63b5b2;
}

.p-pic {
	width: 60px;
	height: 60px;
	margin-right: 12px;
	float: left;
}

.borderless tbody tr td {
	border: none;
}

.d-product {
	padding: 30px 15px 30px 15px;
	background-color: #ffffff;
	margin-left: 0;
	margin-right: 0;
}

.description {
	padding-top: 20px;
	margin-left: 0;
	margin-right: 0;
}

.tab-content {
	background-color: #ffffff;
}

.paddingless {
	padding: 0;
}

.i-produk-judul {
	float: left;
	min-width: 58px;
}

.i-produk-kiri {
	float: left;
	max-width: 730px;
}

.i-produk-kiri ul {
	list-style-type: disc;
}

.i-produk-kiri .ul-samping {
	list-style: none;
}

.i-produk-kiri .ul-samping li {
	margin-bottom: 6px;
}

.i-produk-kiri .fa {
	font-size: 13px;
}

.cart-info {
	padding: 15px;
	background-color: #ffffff;
}

thead tr th {
	text-align: center;
}

.setting {
	padding: 20px;
	background-color: #ffffff;
}

.filter-nav {
	padding: 11px 16px;
	border-radius: 2px 0 0 2px;
	border: 0 none;
	outline: 0 none;
	font-size: 15px;
}

.ta-right {
	text-align: right;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated2 {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-80px);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	40% {
		opacity: 0;
	}
	100% {
		transform: translateY(-80px);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUser {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUser {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	display: block!important;
}

.judul {
	position: absolute;
	margin: 5px 0;
}

.judul a {
	color: #fff;
	text-decoration: none;
}

.kat {
	display: none;
	position: absolute;
	margin: 5px 0;
	cursor: pointer;
}

.navbar-static {
	background-color: transparent;
	border: none;
}

.navbar-nav>li>a {
	color: #fff!important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #B9FF4F!important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: yellow;
}

.cart-setengah {
	width: 93px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.user-button {
	display: none;
	padding: 0;
	position: absolute;
	min-width: 60px;
	margin-left: 15px;
	color: #fff;
	cursor: pointer;
}

.admin-button {
	padding: 0;
	min-width: 60px;
	margin-left: 15px;
	color: #fff;
	cursor: pointer;
}

.user-button img,
.admin-button img {
	display: inline;
	margin-right: 15px;
	border-radius: 50%;
	width: 40px;
}

.drop-user {
	padding: 10px;
}

.drop-user li a {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

.drop-user li span {
	padding: 5px;
	color: #333;
}

.drop-user li a:hover {
	background: none;
	text-decoration: underline;
}

.user-button:hover,
.admin-button:hover {
	color: inherit;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.animated-delay {
	display: inline;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fade-in {
	-webkit-animation-name: fadeInUser;
	animation-name: fadeInUser;
	display: inline!important;
}

.promote {
	background-color: #ffffff;
	margin-top: 3rem;
	padding: 0;
}

.promote-left {
	padding: 0 20px;
}

.promote-right {
	padding: 60px 20px;
}

.promote-right p {
	font-size: 17.6px;
	font-weight: normal;
	line-height: 1.84;
	color: #777777;
}

.promote-header {
	margin-bottom: 20px;
	width: 85%;
	max-width: 450px;
}

.promote-header p {
	font-size: 40.4px;
	font-weight: bold;
	line-height: 1.33;
	color: #222222;
}

.promote-download {
	margin-top: 38px;
}

.promote-download img {
	display: inline;
}

.paddingless {
	padding: 0!important;
}

.marginless {
	margin: 0;
}

.nav-kategori {
	font-size: 15px!important;
	padding: 0!important;
	color: #5e2096!important;
	display: inline!important;
	background-color: transparent;
}

.nav-kategori:hover {
	background-color: transparent!important;
}

.footer-top .list-unstyled li {
	margin-bottom: 10px;
}

.wrap {
	font-size: 14px;
	color: #333;
	margin: 5px 0 5px 0;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	content: "";
	position: relative;
	display: block;
	text-transform: capitalize;
}

.wrap:after {
	padding-top: 5px;
	font-size: 15px;
	font-weight: 400;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	display: inline-block;
	width: 25%;
	height: 17px;
	content: "";
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 95%);
}

.wrap:hover {
	color: #333;
}

.wrap2:after {
	padding-top: 10px;
	font-size: 17px;
	font-weight: 400;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	display: inline-block;
	width: 25%;
	height: 20px;
	content: "";
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 95%);
}

.wrap2:hover {
	color: #333;
}

.wrap3 {
	margin: 0;
	max-height: 50px;
	min-height: 50px;
	line-height: 25px;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.p-det {
	padding: 0 8px;
}

.p-det strong {
	color: #333;
}

.p-info {
	padding-bottom: 1px;
}

.bar-show {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.sidebar {
	background-color: #fff;
}

.danger {
	padding: 6px 6px;
	margin: 11px 0 0 0;
	font-weight: 600;
	font-size: 13px;
	text-align: center;
	border-bottom: 2px solid #AA6363;
}

.nav-kat {
	padding-left: 0;
}

.nav-pills>li>a {
	border: 1px solid;
	border-radius: 0;
	color: #666;
	border-color: #ddd;
	font-size: 12px;
	padding: 4px 12px;
	font-weight: 500;
	line-height: 25px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #eee !important;
	color: #666;
}

.nav-pills>li>a:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.nav-pills>li>a:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.nav-pills>li+li {
	margin-left: -1px;
}

.sort {
	display: table-cell;
}

.urut {
	padding: 8px;
}

.kate li ul {
	display: none;
}

.kate li span {
	cursor: pointer;
}

.kate li a {
	cursor: pointer;
}

.kate li a:before {
	content: "";
	padding-right: 10px;
}

.kate li ul {
	padding-left: 20px;
}

.kate li ul li a {
	list-style: none;
	margin-left: -20px;
}

.kate li ul li a:before {
	content: "";
	padding-right: 5px;
}

.kate li ul li span {
	cursor: default;
	padding-right: 25px;
}

.kate li {
	padding: 3px 0;
	font-size: 13px;
}

.fa-search {
	color: #fff;
}

.loading {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: 0 auto;
	width: 100px;
}

.img-edit {
	position: absolute;
	top: 15px;
	right: 30px;
}

.name-edit {
	position: absolute;
	top: 20px;
	right: 10px;
}

.desc-edit {
	position: absolute;
	top: 0;
	right: 10px;
}

.setting-head {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

.setting-head2 {
	padding: 20px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 20px;
}

.setting-head2 h3 {
	margin-top: 10px;
}

.left-sidebar {
	padding-top: 20px;
}

.setting-container {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
}

.setting-container .form-horizontal .form-group span {
	padding-top: 7px;
}

.set {
	box-shadow: -1px 0 0 #f3f3f3;
}

.setting-field {
	background-color: #fff;
}

.sampul {
	height: 188px;
	overflow: hidden;
}

.bootstrap-switch {
	float: right;
}

#error {
	display: none;
}

.pagination {
	float: right;
}

.trx tr th {
	text-align: left;
}

.link {
	color: #337ab7;
}

.link:hover {
	color: #337ab7;
}


/* Steps */

.steps {
	padding: 0;
}

.steps li {
	width: 2.5em;
	height: 2.5em;
	text-align: center;
	line-height: 2.5em;
	border-radius: 2.5em;
	border: 1px solid #31253c;
	margin: 0 .5em;
	display: inline-block;
	color: #333;
	position: relative;
}

.steps li::before {
	content: '';
	position: absolute;
	top: 1.2em;
	left: -18px;
	width: 18px;
	height: .1em;
	background: #31253c;
}

.steps li:first-child {
	margin-left: 0;
}

.steps li:first-child::before {
	display: none;
}

.steps li.active {
	background: #31253c;
}

.steps .active~li {
	background: lightblue;
}

.steps .active~li::before {
	background: lightblue;
}

.sprite {
	background: url("https://s1.bukalapak.com/ast/pictograph/images/icon-dualtone-sprite-34b4c98e84c45defb57a984408b2c1846f5b210cd3b8b6570373a52babb514fa.png") no-repeat;
	background-size: 24px;
	height: 24px;
	margin: 5px 4px;
}

.icon-processed {
	background-position: 0 -2233px;
}

.icon-sent {
	background-position: 0 -2257px;
}

.icon-received {
	background-position: 0 -2281px;
}

.icon-refund {
	background-position: 0 -2376px;
}

.sp-courier {
	width: 72px;
	height: 36px;
	background-image: url(../images/external_logo.png);
	background-repeat: no-repeat;
	-webkit-background-size: 216px 216px;
	background-size: 216px;
	display: inline-block;
	text-indent: -99999px;
}

.icon-jne {
	background-position: -144px 0px;
}

.icon-tiki {
	background-position: -144px -36px;
}

.icon-pos {
	background-position: -144px -72px;
}

.discount {
	font-size: 12px!important;
	line-height: 1.4;
	margin-right: 6px;
	font-weight: 400!important;
	text-decoration: line-through;
	color: #999!important;
}

.discountdet {
	font-size: 13px!important;
	line-height: 1.4;
	margin-right: 6px;
	font-weight: 700!important;
	text-decoration: line-through;
	color: #999!important;
}

.pro-details h2 b {
	text-transform: capitalize;
	font-size: 20px;
}

.disc-badge {
	position: absolute;
	z-index: 1;
	top: 6px;
	right: 6px;
	height: 36px;
	width: 36px;
	line-height: 36px;
	background-color: #ff566a;
	color: #fff;
	display: inline-table;
	vertical-align: middle;
	border-radius: 50%;
	color: #fff;
}

.disc-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.category .pull-right {
	line-height: 23px;
}

.ulasan {
	position: absolute;
	padding: 4px 15px;
}

.review .fa {
	color: #ffc53e;
}

.sect h1 {
	margin-top: 0;
}

.img-outer {
	display: inline-block;
	position: relative;
	right: -50%;
}

.slick-slide,
.slick-slide a {
	outline: none;
}

.slick-slider {
	display: none;
	opacity: 0;
	transition: opacity 1s ease-out;
}

.slick-slider.slick-initialized {
	visibility: visible;
	opacity: 1;
}

.slick-slider .col-sm-2 {
	display: none;
}

.slick-slider .col-sm-2:first-child {
	display: block;
	visibility: hidden;
}

.slick-slider.slick-initialized .col-sm-2 {
	display: block;
	visibility: visible!important;
}

.sect h1 {
	font-size: 20px;
	font-weight: 500;
	color: #333;
}

.related-product {
	background-color: #fff;
	padding: 0;
	margin-top: 3rem;
}

.radio .checked,
.review .checked {
	color: #ffc53e!important;
}

.radio .fa-star,
.review .fa-star {
	color: #ccc;
	font-size: 15px;
}

.radio label {
	padding: 0;
}

.radio label input[type=radio] {
	display: none;
	padding: 0;
}

.img-rvw {
	width: 36px;
	height: 36px;
}

.img-rvw img {
	border-radius: 50%;
}

.review .reviewer {
	font-size: 13px;
	font-weight: 300;
	color: #999;
}

.review .reviewer .fa {
	font-size: 13px;
}

.open>.address .dropdown-address .dropdown-menu {
	display: block;
}

.account a {
	cursor: pointer;
}

.pcart {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	word-break: break-all;
	white-space: nowrap;
	height: 20px;
}

.ltl {
	color: #999;
	font-size: 13px;
}

.ltl2 {
	color: #333!important;
}

.big {
	font-size: 16px;
	weight: 500;
}

.row3 {
	padding-left: 10px;
	padding-right: 10px;
}

a:focus {
	color: inherit;
}

.cart-button:focus {
	text-decoration: none;
}

.ind {
	position: absolute;
	top: 5px;
	right: -16px;
	text-align: center;
	width: 40px;
}

.adm {
	margin-right: 16px;
}

.adm2 {
	min-height: 43px;
}

.p-shipping table,
.p-detail table {
	margin-left: -8px;
}

.p-shipping table tr td {
	width: 50%;
	vertical-align: middle;
}

.p-detail table tr td {
	font-size: 13px;
	color: #333;
	padding-top: 4px;
	padding-bottom: 4px;
}

.awl-desc {
	width: 120px;
	float: left;
	margin-right: 15px;
}

.awl-desc::after {
	float: right;
	content: ':';
}

.awl-desc i {
	margin-right: 10px;
}

.info-seller hr {
	border-top: 1px solid #e5e5e5;
}

.acc .panel-body {
	height: 145px;
}

.nav1 {
	background-color: #402c52;
}

.store-name {
	border-top: 1px dashed #eee;
	color: #999;
	margin-top: 5px;
	padding-top: 5px;
	font-size: 13px;
}

.store-name p {
	margin: 0;
	font-size: 13px;
}

.store-name a {
	color: #999;
}

.store-name i {
	margin-right: 5px;
}

.filter-nav:active:focus {
	outline: none;
}